{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiberStash</title>
</head>
<body>
    {% block content %}
    <a href="/fiber/create">Add a New Fiber</a>
    <h1>The Stash of Fiber</h1>
    <hr />
    {% for fiber in fiber %}
    <p>Type: {{fiber.types}}</p>
    <p>Texture: {{fiber.texture}}</p>
    <p>Owned By: {{fiber.user.username}}</p>
    {% endfor %}
    {% endblock %}
    <footer>All Rights Reserved, FiberStash 2021</footer>
</body>
</html>